@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.header_logo{
    width: 64px;
}
.title{
    font-family: "Press Start 2P";
    cursor:default;
}
/* .navbar-collapse{
    width: 256px !important;
} */