#game{
    background-image: url('../img/game_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.black_pokemon{
    width: 25vw;
    filter: brightness(0%);
}
.pokemon_card{
    width: 50vw !important;
    position: relative !important;
    border-radius: 10px !important;
}
.pokemon_img{
    position: relative;
    width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    min-width: 128px !important;
}
.lose_img{
    width: 50vw !important;
    position: absolute;
    top:50%;
    left:50%;
    z-index: 10;
    transform:translate(-50%,-50%);
}
.play_again_btn{
    position:relative;
    z-index: 100 !important;

}